.bubble {
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    width: 100%;
  }

  &__button {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #36173d;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:nth-of-type(2n) {
      margin-top: 20px;
    }

    &:hover {
      background-color: #431c4b;
    }

    &.selected {
      border: 1px solid #e4229b;
    }
  }

  &__emoji {
    text-align: center;
    font-size: 25px;
  }

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
  }
}
