.circle {
  &__background {
    fill: none;
    stroke: #fff;
  }

  &__progress {
    fill: none;
    stroke: #e4229c;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &__text {
    font-weight: 800;
    font-size: 52px;
    line-height: 62px;
    fill: #fff;
  }
}
