.email {
  &__container-text {
    padding-top: 100px;
    text-align: center;
    margin-bottom: 50px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
  }

  &__title {
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
  }

  &__description {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #c4c8cc;
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 0 30px 20px;
    border-radius: 16px;
    border: 2px;
    background-color: #36173d;
    color: #fff;
  }

  &__error {
    padding-left: 40px;
    color: #ff0000;
  }

  &__privacy {
    padding: 0 40px;
    color: #b6b8c3;
    text-align: center;
  }
}
