.gender-select {
  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__option {
    padding: 30px 25px;
    background-color: #36173d;
    border-radius: 16px;
  }

  &__emoji {
    text-align: center;
    font-size: 52px;
  }

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }
}
