.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 800;
  padding: 20px;
  gap: 30px;

  &__header {
    font-size: 18px;
    line-height: 20px;
    width: 100%;
  }

  &__prodress-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header-number {
    color: #e4229c;
    padding: 5px;
  }

  &__question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  &__question-title {
    text-align: center;
    padding: 0 35px;
    font-size: 28px;
    line-height: 34px;
  }

  &__question-description {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #c4c8cc;
    text-align: center;
  }
}
